* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /*box-sizing: border-box;*/
}

body {
    display: block;
    margin: 8px;
}

/*#header {
    width: 80%;
    height: 100vh;
    background-image: url(images/image0.jpeg);
    background-size: cover;
    background-position: left;
}*/

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#logo {
    width: 140px;
    color: black;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #00ccff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
    color: black;
}

.header-text h1 {
    font-size: 50px;
    margin-top: 20px;
}

.header-text h1 span{
    color: #00ccff;
}

/* Profile */
#my-profile {
    height: 85vh;
}

#about {
    padding: 80px 0;
    color: #ababab;
}

section {
    box-sizing: border-box;
    min-height: fit-content;
    padding-top: 4vh;
    margin: 0 10rem;
    height: 96vh;
}

.section-container {
    gap: 4rem;
    padding-top: 100px;
}

.about-col-1 img {
    width: 300px;
    height: 300px;
    border-radius: 100%;
}

.profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 60vh;
    /*text-align: center;*/
}

.image-section {
    height: 400px;
    width: 400px;
    margin: auto 0;
    display: flex;
    
}

.image-section img {
    border-radius: 100%;
}

.header-text {
    align-self: center;
    text-align: center;
    margin-top: 20px;
    margin-left: 80px;
}

.title {
    font-size: 3rem;
    text-align: center;
}

.text-section {
    margin: 1rem;
    text-align: center;
}

 div {
    display: block;
 }

.buttons-container {
    gap: 1rem;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.btn-color {
    border-radius: 28px;
    border: 1px;
    padding: 15px;
    background-color: black;
    color: white;
}

.btn-color:hover {
    background-color: #00ccff;
}

.socials-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
}

.socials-container img{
    width: 32px;
    height: 32px;
}

.icon {
    height: 2rem;
    cursor: pointer;
}

/* About Section */
#about {
    height: 80vh;
}

.container h1 {
    text-align: center;
}

.certs-container {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    justify-content: center;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
}

.details-container img {
    width: 32px;
    height: 32px;
}

.details-container p {
    color: rgb(85, 85, 85);
}

/* Experience */
#experience {
    height: 60vh;
}

.exp-container {
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 2rem;
}

/*.details-container {
    padding: 30p;
}*/

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
    padding-top: 30px;
}

article .icon {
    height: 2rem;
    cursor: default;
}

article h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 0.2em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}